body, .body-panel {
    font-size: medium;
    font-family: "Lucida Grande", Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

.header-panel {
    width: 100%;
    height: 40px;
    color: white;
    background-color: darkgreen;
    text-align: center;
    font-size: x-large;
    padding-top: 20px;
}

.header-img {
    width: 25px;
    position: absolute;
    left: 20px;
}

.main-panel {
    width: 700px;
    height: calc(100% - 140px);
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.button-panel {
    width: 100%;
}

button {
    padding: 5px;
    float: right;
    font-weight: 600;
    margin: 12px -22px 12px 32px;
    color: white;
    background-color: darkgreen;
    border: none;
}

button:hover {
    background-color: #00aacc;
}

button:disabled,
button[disabled]{
    background-color: #cccccc;
}

#incident-panel {
    overflow: auto;
    width: 100%;
    height: 100%;
    border: solid 1px #babac5;
    padding: 10px;
}

.incident-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    border-bottom: solid #d1cee6 1px;
    padding-bottom: 2px;
}

.incident-tag {
    width: 70px;
    float: left;
}

.incident-descr {
    width: calc(100% - 380px);
    float: right;
}

.incident-show-detail {
    float: right;
    width: 100px;
    margin: 0;
}

.detail-panel {
    z-index: 3;
    background: white;
    padding: 10px;
    border: solid 1px #babac5;
}

.detail-background {
    z-index: 2;

    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
}

.detail-images {
    text-align: center;
    overflow: auto;
    height: calc(100% - 40px);
}

.detail-image img {
    max-width: calc(100% - 20px);
}

.Heating {
    color: grey;
}

.Water {
    color: black;
}

.Elevator {
    color: darkgoldenrod;
}

.Garage {
    color: darkred;
}

.OPEN, .URGENT {
    color: red;
}

.IN_PROGRESS, .MEDIUM {
    color: orange;
}

.DONE, .INFO {
    color: green;
}



