#incident-panel {
    padding-top: 6em;
    max-height:calc(100vh - 4em);
    overflow: auto;
}

.show-header {
}

.hide-header {
    display: none;
}

.detail-view {

}

img {
    width: 100%;
    height: 100%;
}
